nav {
    background-color: rgba(242, 153, 75, 1);
}

nav img {
    margin-right: 10px;
    width: 60px;
    height: 60px
}

nav a {
    color: white;
}

nav a:hover {
    text-shadow: 2px 2px 3px black;
    color: white;
}

.nav-link {
    font-family: 'EB Garamond', serif;
}

.navbar-brand {
    text-transform: none;
}