nav {
    background-color: rgba(242, 153, 75, 1);
}

nav img {
    margin-right: 10px;
    width: 60px;
    height: 60px
}

nav a {
    color: white;
}

nav a:hover {
    /* text-shadow: 2px 2px 3px black; */
    text-shadow: none;
    color: white;
}

.nav-link {
    font-family: 'EB Garamond', serif;
}

.navbar-brand {
    text-transform: none;
}

nav #title {
    font-size: 35px;
}

/*======= Media Queries ========*/

@media screen and (max-width: 1020px) {
    nav img {
        margin-right: 10px;
        width: 40px;
        height: 40px
    }

    nav #title {
        font-size: 20px;
    }
}

  @media only screen and (max-width: 600px) {
    nav img {
        margin-right: 10px;
        width: 30px;
        height: 30px
    }

    nav #title {
        font-size: 15px;
    }
  }