.delete-btn {
    background-color: red;
    color: white;
    border-radius: 3px;
    font-size: 12px;
    margin: 0 15px 0 15px;
    float: right;
}

.delete-btn:hover {
    background-color: black;
}