

.creator {
    background-image: url(../images/create.jpg);
    background-size: contain;
    background: cover;
}

.bookTitle, .smallCaption {
    text-transform: uppercase;
}

.tagHeader {
    margin: 20px;
    background-color: transparent;
    border: none;
}

.hideModalDiv {
    display: none;
}

.showModalDiv {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000000000000000000000;
}

.form-label {
    text-align: left;
    margin: 0
}

/* The following is style for creatorDetail page */

.imageCol {
    border-left: 5px solid black;
}

.tags {
    background-color: lightgray;
    position: relative;
    top: 30px;
}

.bio {
    font-size: 30px;
    position: relative;
    top: 100px;
}

.creatorTitle {
    font-size: 75px;
}

.birthDeath {
    font-size: 30px;
    position: relative;
    right: 100px;
    top: 40px;
}

/* Above is style to creatorDetail page */