

.creator {
    background-image: url(../images/create.jpg);
    background-size: contain;
    background: cover;
}

.bookTitle, .smallCaption {
    text-transform: uppercase;
}

.tagHeader {
    margin: 20px;
    background-color: transparent;
    border: none;
}

.hideModalDiv {
    display: none;
}

.showModalDiv {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000000000000000000000;
}

.form-label {
    text-align: left;
    margin: 0
}

/* The following is style for creatorDetail page */

.imageCol {
    /* border: 5px solid rgb(84, 84, 114); */
    display:block;
    margin:auto;
    
}

.contain1 {
    box-shadow: 0 0 0 50px rgb(84, 84, 114) inset;
}

.tags {
    
    position: relative;
    top: 30px;
}

.bio {
    font-size: 30px;
    position: relative;
    top: 30px;
    padding-bottom: 20px;
}

.creatorTitle {
    font-size: 75px;
    text-align: center;
}

 .birthDeath {
    font-size: 30px;
    text-align: center;
   
} 

.bookImage {
    width: 100%;
    height: auto;
    padding: 1px;
}

div.col-sm-2 {
    padding: 0;
}

.homepage {
    padding: 10px;
}

.outerbox {
      width: 99%;
      height: 210px;
      background-color: rgb(84, 84, 114);
      overflow: scroll;
      display: flex;
}

.innerbox {
      width: 150px;
      height: 150px;
      margin: 10px;
      background-color: red;
      flex: none;
    }



/* Above is style to creatorDetail page */