

.creator {
    background-image: url(../images/create.jpg);
    background-size: contain;
    background: cover;
}

.bookTitle, .smallCaption {
    text-transform: uppercase;
}

.tagHeader {
    margin: 20px;
    background-color: transparent;
    border: none;
}

.hideModalDiv {
    display: none;
}

.showModalDiv {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000000000000000000000;
}

.form-label {
    text-align: left;
    margin: 0
}

select.form-control {
    margin-bottom: 15px;
}

/* The following is style for creatorDetail page */

.imageCol {
    /* border: 5px solid rgb(84, 84, 114); */
    display:block;
    margin:auto;
    
}

#imageSize {
    width: 500px;
    height: auto;
}

.contain1 {
    
    border-width: 40px;
    border-right-color: lightblue;
    border-bottom-color: rgba(242, 153, 75, 1);
    border-right-style: inset;
    border-bottom-style: inset;


    /* border-style: 18px outset #d2e3;
   box-shadow: 0 0 0 50px rgba(242, 153, 75, 1) inset;
    border-top: 100px solid black;  */
}

.tags {
    
    position: relative;
    top: 30px;
}

.bio {
    font-size: 30px;
    position: relative;
    top: 30px;
    padding-bottom: 20px;
}

.creatorTitle {
    font-size: 75px;
    text-align: center;
}

 .birthDeath {
    font-size: 30px;
    text-align: center;
   
} 

.bookImage {
    width: 100%;
    height: auto;
    padding: 1px;
}

div.col-sm-2 {
    padding: 0;
}

.homepage {
    padding: 10px;
}

.outerbox {
      width: 99%;
      height: 210px;
      background-color: black;
      overflow: scroll;
      display: flex;
}

.innerbox {
      width: 150px;
      height: 150px;
      margin: 10px;
      background-color: red;
      flex: none;
    }



/* Above is style to creatorDetail page */

/* Footer style */

.footer-header, .footer-copyright, .footer-icons, .footer-content a, .copyright {
    text-align: center;
    color: white;
  }

footer {
    background-color: rgba(242, 153, 75, 1);;
    text-align: center;
    margin-top: 20px;
}

.footer-content a {
    margin-right: 20px;
}